<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="UnderPerformanceAlpha" value="0.75" />
		<add key="YawMisalignThresholdDeg" value="15" />
		<add key="FrequencyDeviationAbsHz" value="0.5" />
		<add key="FrequencySpikeThresholdHz" value="0.2" />
		Analytics thresholds required by specification -->
		<add key="OverspeedThreshold" value="1800" />
		<add key="RpmOutOfBandPct" value="25" />
		<add key="PfMinThreshold" value="0.85" />
		<add key="ReactiveSpikeThresholdKvar" value="50" />
	</appSettings>
</configuration>
